.pr-calendar {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.pr-calendar__header {
    display: flex;
    justify-content: space-between;
    background-color: #d1d1d1;
}

.pr-calendar__title {
    font-weight: bold;
}

.pr-calendar__navigation-button {
    cursor: pointer;
    color: inherit;
}

.pr-calendar__day-names,
.pr-calendar__days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.pr-calendar__day-name,
.pr-calendar__day {
    flex-basis: calc(100% / 7);
    align-items: flex-start;
    justify-content: flex-end;
    box-sizing: border-box;
    min-width: 0;

    text-align: center;

    min-height: 20%;

    border: 1px solid #ffffff;
}

.pr-calendar__day-name {
    background-color: #d1d1d1;
    cursor: default;
}

.pr-calendar__day {
    background-color: #f7f7f7;
    cursor: pointer;
}

.pr-calendar__day:hover {
    background-color: #dfdfdf;
}

.pr-calendar__day--selected {
    background-color: #c1c1c1;
}

.pr-calendar__day--today {
    font-weight: bold;
}