.pr-month-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.pr-month-list__item {
    cursor: pointer;
    padding: .5em;
}

.pr-month-list__item:hover {
    background-color: #dfdfdf;
}

.pr-month-list__item--selected {
    background-color: #c1c1c1;
}

.pr-month-list__item--disabled {
    opacity: .5;
}
