.pr-time-list {
    max-height: 200px;
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.pr-time-list__item {
    cursor: pointer;
    padding: .5em;
}

.pr-time-list__item:hover {
    background-color: #dfdfdf;
}

.pr-time-list__item--selected {
    background-color: #c1c1c1;
}
